{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
<section class="header-form">
{% include 'nav2.html.twig' %}

    <div style="max-width: 390px" class="mx-auto color-3">

        <h1 class="my-4 text-center color-1 w-100 color-3">Créer un compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

        <div class="row">
            <div class="col-6">
            {{ form_row(registrationForm.name) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.firstname) }}
            </div>
        </div>

            {{ form_row(registrationForm.birthdate) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            <button class="btn btn-lg btn-primary" type="submit" style="min-width: 390px">
                S'enregistrer
            </button>
        {{ form_end(registrationForm) }}

    </div>
</section>
{% endblock %}
