{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}

<section class="my-4">
{% include 'nav2.html.twig' %}

     <div style="max-width: 440px; background-color: #F8FCFF" class="mx-auto border border-dark-subtle rounded p-4">

        <h1 class="mb-4 text-center">Créer un compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

        <div class="row">
            <div class="col-6">
            {{ form_row(registrationForm.firstname) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.name) }}
            </div>
        </div>

            {{ form_row(registrationForm.birthdate) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
        <div class="row">
            <div class="col-6">
            {{ form_row(registrationForm.secret_question) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.secret_answer) }}
            </div>
        </div>
            

            <button class="btn btn-lg btn-primary w-100" type="submit">
                S'enregistrer
            </button>
        {{ form_end(registrationForm) }}

    </div>
</section>
{% endblock %}
