{% extends 'base.html.twig' %}

{% block title %}Nos Actualités{% endblock %}

{% block body %}

<section class="header-base">
    {% include 'nav2.html.twig' %}
    <div class="container py-5">
         <h1 class="color-3 pb-5">Toutes nos actus</h1>
    </div>
</section>



<section class="articles py-5">
    <div class="container">


            {% for article in articles %}

            <div class="card mb-5 mx-auto shadow" style="max-width: 900px; background-color: #F8FCFF">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="" class="img-link">
                            <img src="{{ asset('uploads/images/' ~ article.mainImage)}}" class="img-fluid img-height rounded-start" alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <span class="badge bg-success mb-2">{{article.category.name}}</span>
                            <h2 class="card-title line-clamp-1 fs-3">{{article.title}}</h2>
                            <p class="card-text fs-6 line-clamp-4">{{article.content}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{{path('index_article', {id:article.id}) }}" class="btn btn-primary">Lire la suite</a>
                                <p class="card-text"><small class="text-muted"> Publié le {{ article.publishedAt|date('d/m/Y') }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                

            {% endfor %}


    </div>
</section>


{% include 'footer.html.twig' %}
{% endblock %}
