{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}


<section class="header-actus mb-4">
    <img src="{{ asset('uploads/images/' ~ article.mainImage)}}" class="img-fluid img-height w-100 shadow" alt="Image principale de l'article : {{article.title}}" style="height: 400px">

        <div class="w-100 top-0 left-0 position-absolute nav-blur">
            {% include 'nav2.html.twig' %}
        </div>
</section>

<section class="actus-content py-4">
    <div class="container">
        <h1 class="color-1 mb-4">
            {{article.title}}
        </h1>
        <img src="{{ asset('img/test1.jpg') }}" class="img-fluid img-height rounded-2 w-50 float-start me-4" alt="">
        <p>{{article.content}}</p>
    </div>
</section>

<section class="actus-images bg-1 py-4 mb-5">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-6">
                <div class="border mb-4">
                    <img src="{{ asset('img/test1.jpg') }}" class="img-fluid img-height" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="border mb-4">
                    <img src="{{ asset('img/bgi-base.jpg') }}" class="img-fluid img-height" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="border mb-4">
                    <img src="{{ asset('img/test2.jpg') }}" class="img-fluid img-height" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="border mb-4">
                    <img src="{{ asset('img/test1.jpg') }}" class="img-fluid img-height" alt="">
                </div>
            </div>
        </div>
    </div>
</section>





{% include 'footer.html.twig' %}
{% endblock %}