{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}
{{form_start(form)}}
    {{form_errors(form)}}

<section class="py-5">
    <div class="container">
        <div class="row">

            <div class="mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="currentColor" class="bi bi-person-lines-fill w-100" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                </svg>
            </div>

            <div class="col-lg-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{form_row(form.name)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Prénom</th>
                            <td>{{form_row(form.firstname)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date de naissance</th>
                            <td>{{form_row(form.birthdate)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{form_row(form.email)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Question secrète</th>
                            <td>{{form_row(form.secret_question)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Réponse</th>
                            <td>{{form_row(form.secret_answer)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Genre</th>
                            <td>{{ form_row(form.gender) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Numéro de téléphone</th>
                            <td>{{form_row(form.phone_number)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Adresse / Ville</th>
                            <td>{{form_row(form.location)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
{{form_end(form)}}

        </div>
    </div>
</section>

{% include 'footer.html.twig' %}
{% endblock %}